@use "variables";
@use "bootstrap";

body {
    background-color: variables.$bg;
    color: var(--text);
}

.box {
    border: 1px solid red;
    background: url("../images/light.jpg");
    background-position: center;
    background-size: cover;
    height: 100px;
}