@use "variables";
@use "owlcarousel";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

// Global
html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: variables.$tx;
    background-color: variables.$light;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-image: url("../images/entrance-cut.png");
        top: 0px;
        left: 0px;
        height: 250px;
        width: 250px;
        background-size: cover;
        z-index: -1;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s opacity linear;
    
    &:hover {
        opacity: .9;
        transition: .3s opacity linear;
    }
}

p {
    font-size: 1rem;
}

h2 {
    text-align: center;
    font-family: 'Playfair', sans-serif;
    font-weight: bold;
    color: variables.$tx-dark;
    font-size: 1.85rem;
    margin: 0 auto 100px;
    opacity: 1;
}

h3 {
    font-size: 27px;
    margin: 75px auto 100px;
    text-align: center;
    font-family: 'Playfair', sans-serif;
    font-weight: normal;
    color: variables.$tx-dark;
}

button {
    background-color: variables.$secondary-color;
    outline: none;
    border-radius: variables.$radius;
    transition: .3s all linear;
    color: variables.$light;
    border: none;

    &:hover {
        opacity: .9;
        transition: .3s all linear;
    }
}

// Entrance
.entrance {
    padding: 50px 0 77px;
    overflow: hidden;

    .entrance__article p:nth-child(2) {
        font-family: 'PlayfairDisplay', sans-serif;
        font-weight: normal;
        color: variables.$tx-dark;
    }

    .entrance__img {
        background: url("../images/entrance-green.png");
        background-repeat: no-repeat;
        background-position-x: right;
        min-height: 300px;
        background-size: contain;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            background: url("../images/entrance-office.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            top: 25px;
            left: 0;
        }
    }
}

// Donate
.donate {
    background-color: variables.$bg-shadow;
    padding-top: 77px;
    position: relative;

    .container {
        text-align: center;
    }

    .donate__list>div {
        margin-bottom: 25px;

        span {
            width: 89px;
            height: 89px;
            border-radius: 50%;
            box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
            background-color: variables.$bg-services-list;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            color: variables.$primary-color;
            font-size: 2.25rem;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            transition: .3s all linear;

            &:hover {
                opacity: .9;
                box-shadow: 0px 2px 5px 1px variables.$primary-color;
                transition: .3s all linear;
                cursor: pointer;
            }
        }
        p {
            text-align: center;
        }
    }

    .donate__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 60px;

        button {
            color: variables.$primary-color;
            border: 4px solid variables.$primary-color;
            padding: 8px 85px;
            font-size: 40px;
            margin: 0 25px 25px;

            &:nth-child(1) {
                color: variables.$light;
                border: none;
            }
        }
    }

    .donate__info {
        margin: 0;
        padding-bottom: 10px;
        text-align: center;
    }

    .donate__submit {
        padding: 4px 45px;
        font-size: 20px;
        margin: 60px auto 20px;
    }

    .donate__carousel--box {
        background: rgb(24,24,24);
        background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0.5) 100%);
        padding: 130px 20px 20px 20px;
        text-align: center;
        margin: 0 40px;
        
        h4 {
            color: variables.$light;
            font-size: 27px;
        }

        p {
            color: variables.$light;

        }
    }

    >div:nth-child(2) {
        background-color: variables.$bg-shadow;
        padding: 50px 0 150px;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-image: url("../images/gallery-middle.png");
        background-repeat: no-repeat;
        background-position: right;

        // ???
        // &:after {
        //     position: absolute;
        //     overflow: hidden;
        //     background: url("../images/gallery-back.png");
        //     background-repeat: no-repeat;
        //     height: 200px;
        //     width: 200px;
        //     content: '';
        //     bottom: 0;
        //     left: 5%;
        //     z-index: 0;
        // }
    }
}

// Footer
.footer {
    padding: 25px 0;
    text-align: center;

    .footer__title {
        margin-bottom: 25px;
        font-size: 1rem;
    }

    .footer__edition, .footer__media {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        li {
            margin: 0 8px;
        }
    }

    a:hover {
        color: variables.$primary-color;
    }

    .footer__media li a {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: variables.$bg-media-icons;

        i {
            color: variables.$tx-media-icons;
        }

        &:hover {
            background-color: variables.$primary-color;
            color: variables.$light;

            i {
                color: variables.$light;
            }
        }
    }
}

// RWD Medium size
@media(min-width: 768px) {
    body::after {
        position: absolute;
        content: '';
        background-image: url("../images/entrance-cut.png");
        top: 40px;
        left: 25px;
        height: 468px;
        width: 442px;
    }
        
    // Entrance
    .entrance {
        padding: 280px 0 77px;

        .entrance__article {
            padding: 10px 125px 10px 10px;
        }

        .entrance__img {
            min-height: 556px;
    
            &::after {
                width: 200%;
            }
        }
    }

    // Services
    .services .services__list>div {
        padding: 0 20px;
    }

    // Gallery
    .donate>div:nth-child(2) {
        background-color: variables.$bg-shadow;
        padding: 50px 0 150px;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-image: url("../images/gallery-middle.png");
        background-repeat: no-repeat;
        background-position: right;

        .donate__carousel {
            height: 500px;
            max-width: 1450px;
            margin: auto;
            display: flex;
            align-items: end;
        }     

        &:after {
            background: url("../images/gallery-left.png");
            left: 0;
            height: 598px;
            background-position-x: left;
        }

        &:before {
            background: url("../images/gallery-right.png");
            right: 0;
            height: 547px;
            background-position-x: right;
        }

        &::after, &:before {
            position: absolute;
            content: '';
            bottom: 150px;
            overflow: hidden;
            background-repeat: no-repeat;
            width: 43%;
        }
    }

    // Footer
    .footer {
        text-align: left;

        .footer__edition, .footer__media {
            justify-content: flex-start;
        }

        .footer__edition li {
            margin: 0 90px 0 0;
        }
    }
}