// Global
$radius: 3px;

$light: #FFFFFF;
$primary-color: #E2536B;
$secondary-color: #29AF8A;

$tx: #8D97AD;
$tx-dark: #3E4555;

$bg-shadow: #F5F7FA;
$bg-services-list: #F8F9FA;

// Social media
$bg-media-icons: #E4E9EE;
$tx-media-icons: #98A1B3;