// Global
$radius: 3px;
$light: #FFFFFF;

$tx: #8D97AD;
$tx-dark: #3E4555;
$bg-shadow: #F5F7FA;

// Services
$bg-services-list: #F8F9FA;
$bg-services-button: #29AF8A;
$tx-services-primary: #E2536B;

// Social media
$bg-media-icons: #E4E9EE;
$tx-media-icons: #98A1B3;